body {
    width: 80%;
    margin: auto;
}

nav {
    border: 1px solid black;
    margin: 3em 0;
}

ul li {
    display: inline;

}

aside {
    border: 1px solid black;
    height: 10em;
    width: 25%;
    display: inline-block;
    margin-left: 9em;

}

main {
    border: 1px solid black;
    height: 10em;
    width: 65%;
    display: inline-block;
}
